doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js")
    script(src="https://www.google.com/jsapi")
    script(src="javascripts/chart-app.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='simple-chart')
    
    block content